In [1]:
import pandas as pd

data = {
    "Order_ID": [1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015],
    "Product": ["Notebook","Laptop","Pen Set","Mouse","Keyboard","Printer","Marker Set",
                "Headphones","USB Drive","Scanner","Calculator","Webcam","Tablet","File Folder","Monitor"],
    "Category": ["Stationery","Electronics","Stationery","Accessories","Accessories","Electronics",
                 "Stationery","Accessories","Accessories","Electronics","Stationery",
                 "Accessories","Electronics","Stationery","Electronics"],
    "Quantity": [50,2,100,15,12,3,80,20,35,5,40,8,4,120,6],
    "Price": [120,45000,250,350,800,8500,180,1200,400,6500,350,2500,25000,150,12000],
    "Month": ["January","January","January","February","February","February","February",
              "March","March","March","April","April","April","April","April"]
}

df = pd.DataFrame(data)
df

    Order_ID      Product     Category  Quantity  Price     Month
0       1001     Notebook   Stationery        50    120   January
1       1002       Laptop  Electronics         2  45000   January
2       1003      Pen Set   Stationery       100    250   January
3       1004        Mouse  Accessories        15    350  February
4       1005     Keyboard  Accessories        12    800  February
5       1006      Printer  Electronics         3   8500  February
6       1007   Marker Set   Stationery        80    180  February
7       1008   Headphones  Accessories        20   1200     March
8       1009    USB Drive  Accessories        35    400     March
9       1010      Scanner  Electronics         5   6500     March
10      1011   Calculator   Stationery        40    350     April
11      1012       Webcam  Accessories         8   2500     April
12      1013       Tablet  Electronics         4  25000     April
13      1014  File Folder   Stationery       120    150     April
14      1015      Monitor  Electronics         6  12000     April

In [2]:
df["Total_Revenue"] = df["Quantity"] * df["Price"]
df

,Order_ID,Product,Category,Quantity,Price,Month,Total_Revenue
0,1001,Notebook,Stationery,50,120,January,6000
1,1002,Laptop,Electronics,2,45000,January,90000
2,1003,Pen Set,Stationery,100,250,January,25000
3,1004,Mouse,Accessories,15,350,February,5250
4,1005,Keyboard,Accessories,12,800,February,9600
5,1006,Printer,Electronics,3,8500,February,25500
6,1007,Marker Set,Stationery,80,180,February,14400
7,1008,Headphones,Accessories,20,1200,March,24000
8,1009,USB Drive,Accessories,35,400,March,14000
9,1010,Scanner,Electronics,5,6500,March,32500
10,1011,Calculator,Stationery,40,350,April,14000
11,1012,Webcam,Accessories,8,2500,April,20000
12,1013,Tablet,Electronics,4,25000,April,100000
13,1014,File Folder,Stationery,120,150,April,18000
14,1015,Monitor,Electronics,6,12000,April,72000

In [3]:
df.groupby("Product")["Total_Revenue"].sum()

Product
Calculator      14000
File Folder     18000
Headphones      24000
Keyboard         9600
Laptop          90000
Marker Set      14400
Monitor         72000
Mouse            5250
Notebook         6000
Pen Set         25000
Printer         25500
Scanner         32500
Tablet         100000
USB Drive       14000
Webcam          20000
Name: Total_Revenue, dtype: int64

In [4]:
df.groupby("Category")["Quantity"].sum()

Category
Accessories     90
Electronics     20
Stationery     390
Name: Quantity, dtype: int64

In [5]:
df.groupby("Category")["Price"].mean()

Category
Accessories     1050.0
Electronics    19400.0
Stationery       210.0
Name: Price, dtype: float64

In [6]:
df.loc[df["Quantity"].idxmax()]

Order_ID                1014
Product          File Folder
Category          Stationery
Quantity                 120
Price                    150
Month                  April
Total_Revenue          18000
Name: 13, dtype: object

In [7]:
df.groupby("Month")["Total_Revenue"].sum()

Month
April       224000
February     54750
January     121000
March        70500
Name: Total_Revenue, dtype: int64

In [8]:
df[df["Quantity"] > 40]

,Order_ID,Product,Category,Quantity,Price,Month,Total_Revenue
0,1001,Notebook,Stationery,50,120,January,6000
2,1003,Pen Set,Stationery,100,250,January,25000
6,1007,Marker Set,Stationery,80,180,February,14400
13,1014,File Folder,Stationery,120,150,April,18000

In [9]:
df.sort_values(by="Total_Revenue", ascending=False)

,Order_ID,Product,Category,Quantity,Price,Month,Total_Revenue
12,1013,Tablet,Electronics,4,25000,April,100000
1,1002,Laptop,Electronics,2,45000,January,90000
14,1015,Monitor,Electronics,6,12000,April,72000
9,1010,Scanner,Electronics,5,6500,March,32500
5,1006,Printer,Electronics,3,8500,February,25500
2,1003,Pen Set,Stationery,100,250,January,25000
7,1008,Headphones,Accessories,20,1200,March,24000
11,1012,Webcam,Accessories,8,2500,April,20000
13,1014,File Folder,Stationery,120,150,April,18000
6,1007,Marker Set,Stationery,80,180,February,14400
10,1011,Calculator,Stationery,40,350,April,14000
8,1009,USB Drive,Accessories,35,400,March,14000
4,1005,Keyboard,Accessories,12,800,February,9600
0,1001,Notebook,Stationery,50,120,January,6000
3,1004,Mouse,Accessories,15,350,February,5250